{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/stylesheet.css' %}">
<div class="frame">
    <img class="background" src="{% static '/images/background.png' %}" />
    <div class="overlap-wrapper">
    <div class="overlap">
        <img class="logo" src="{% static '/images/logo.png' %}" />
        <div class="overlap-group">
        <div class="div">
            <div class="text-wrapper">sign-up</div>
            <div class="text-wrapper-2">user login</div>
        </div>
        <button class="login-button">
            <div class="div-wrapper"><div class="text-wrapper-3">LOGIN</div></div>
        </button>
        <img class="text-box" src="{% static '/images/textbox.svg' %}" />
        <div class="text-wrapper-4">Username</div>
        <div class="text-box-2"></div>
        <div class="text-wrapper-5">Password</div>
        <div class="remember-me">
            <div class="tick-box"></div>
            <div class="text-wrapper-6">remember me</div>
        </div>
        <div class="text-wrapper-7">ADMIN</div>
        <img class="logo-2" src="{% static '/images/logo.png' %}" />
        </div>
    </div>
    </div>
</div>
